html {
  background: #1F3A93;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#colorSelected {
  border: none;
}
table {
  background: white;
  margin-bottom: 20px;
}
td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.hidden {
  display: none;
}