body {
  background: #ECF0F1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #2C3E50;
  text-transform: uppercase;
}

h2 {
  color: #2C3E50;
}

#colorSelected {
  border: none;
}