body {
  background: #1F3A93;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  max-width: 1080px;
}
#colorSelected {
  border: none;
}

table {
  background: white;
}
td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.hidden {
  display: none;
}